<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @*link css bootstrap*@
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    @*css informationsLazo*@
    <link href="~/Content/css/informationsLazo.css" rel="stylesheet" />
    @*css typicalkhachhang*@
    <link href="~/Content/css/typicalkhachhang.css" rel="stylesheet" />
    @*css footer*@
    <link href="~/Content/css/footer.css" rel="stylesheet" />
</head>
<body>

    <div class="container body-content">

    </div>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
